<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout" th:with="currentpage='products'">
	<head>
	<title>Products</title>
	</head>
	<body>
	<section layout:fragment="content">
		<h3>Products</h3>
		<div class="row">
			<div class="col-md-6 col-md-offset-6" style="text-align: right;">
				<a th:href="@{/product/create}" class="btn btn-primary">Add New</a>
			</div>
		</div>
    <div class="row" style="margin-top: 10px;">
		<table id="productsTable" class="table table-striped">
			<thead>
				<tr>
					<th>Name</th>
					<th>Active Unit Strength</th>
					<th>Brand Name</th>
					<th>Dosage</th>
					<th>Route</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="product : ${products}">
				<td th:text="${product.name}">Amoxicillin 125mg/5ml oral susp</td>
				<td th:text="${product.activeUnitStrength}">Active Unit Strength</td>
				<td th:text="${product.brandName}">Brand Name</td>
				<td th:text="${product.dosage}">Dosage</td>
				<td th:text="${product.route}">Route</td>
				<td><a href="#" th:href="@{/product/{productId}(productId=${product.productId})}" class="btn btn-xs btn-default">Edit</a>
				    <a href="#" th:href="@{/product/{productId}/copy(productId=${product.productId})}" class="btn btn-xs btn-default">Copy</a>
				    <a href="#" th:href="@{/package/(productIdFilter=${product.productId})}" class="btn btn-xs btn-default">Packaging</a></td>
			</tr>
			</tbody>
		</table>
		</div>
	</section>
	<script layout:fragment="scripts">
		$(function() {
			$("#productsTable").DataTable();
		})
	</script>
	</body>
</html>