<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout" th:with="currentpage='products'">
	<head>
	<title>Product</title>
	</head>
	<body>
	<section layout:fragment="content">
		<h3 th:unless="${product.productId == 0}">Edit Product</h3>
		<h3 th:if="${product.productId == 0}">Create Product <span th:if="${packaging != null}">With Packaging</span></h3>
		<section th:if="${packaging != null}" >
			<h4 th:text="${packaging.description}">Amoxicillin 125mg/5ml</h4>
		</section>
		<div class="row">
		<form action="#" th:action="@{/product/{productId}(productId=${product.productId}, packagingId=${packaging} != null ? ${packaging.packagingId} : 0)}" 
		th:object="${product}" method="post">
		<div class="form-group col-md-6" th:classappend="${#fields.hasErrors('name')}? has-error">
			<label class="control-label" for="productName">Name</label>
			<input type="text" id="productName" class="form-control" th:field="*{name}" autofocus="autofocus" />
			<span class="help-block" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</span>
		</div>
		<div class="form-group col-md-6" th:classappend="${#fields.hasErrors('brandName')}? has-error">
			<label class="control-label" for="brandName">Brand Name</label>
			<input type="text" id="brandName" class="form-control" th:field="*{brandName}" />
			<span class="help-block" th:if="${#fields.hasErrors('brandName')}" th:errors="*{brandName}">error</span>
		</div>		
		<div class="form-group col-md-6" th:classappend="${#fields.hasErrors('activeUnitStrength')}? has-error">
			<label class="control-label" for="activeUnitStrength">Active Unit Strength</label>
			<input type="text" id="activeUnitStrength" class="form-control" th:field="*{activeUnitStrength}" />
			<span class="help-block" th:if="${#fields.hasErrors('activeUnitStrength')}" th:errors="*{activeUnitStrength}">error</span>
		</div>
		<div class="form-group col-md-6" th:classappend="${#fields.hasErrors('dosage')}? has-error">
			<label class="control-label" for="dosage">Dosage</label>
			<input type="text" id="dosage" class="form-control" th:field="*{dosage}" />
			<span class="help-block" th:if="${#fields.hasErrors('dosage')}" th:errors="*{dosage}">error</span>
		</div>
		<div class="form-group col-md-6" th:classappend="${#fields.hasErrors('route')}? has-error">
			<label class="control-label" for="route">Route</label>
			<input type="text" id="route" class="form-control" th:field="*{route}" />
			<span class="help-block" th:if="${#fields.hasErrors('route')}" th:errors="*{route}">error</span>
		</div>
		<div class="form-group col-md-6" th:classappend="${#fields.hasErrors('pharmacyClasses')}? has-error">
			<label class="control-label" for="pharmacyClasses">Pharmacy Classes</label>
			<input type="text" id="pharmacyClasses" class="form-control" th:field="*{pharmacyClasses}" />
			<span class="help-block" th:if="${#fields.hasErrors('pharmacyClasses')}" th:errors="*{pharmacyClasses}">error</span>
		</div>
		<div class="form-group col-md-6" th:classappend="${#fields.hasErrors('deaSchedule')}? has-error">
			<label class="control-label" for="deaSchedule">DEA Schedule</label>
			<input type="text" id="deaSchedule" class="form-control" th:field="*{deaSchedule}" />
			<span class="help-block" th:if="${#fields.hasErrors('deaSchedule')}" th:errors="*{deaSchedule}">error</span>
		</div>								
		<div class="col-md-12">
			<button type="submit" class="btn btn-primary">Save</button>
		</div>
		</form>
		</div>
	</section>
	</body>
</html>