<html lang="en"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
    th:remove="tag">
<nav class="navbar navbar-inverse navbar-fixed-top" th:fragment="head">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" th:href="@{/home}">Drug Inv.</a>
        </div>
        <div id="navbar-collapse" class="collapse navbar-collapse" >
            <ul class="nav navbar-nav">
                <li th:classappend="${currentpage == 'products'} ? 'active'"><a href="#" th:href="@{/product}">Products</a></li>
                <li th:classappend="${currentpage == 'packages'} ? 'active'"><a href="#" th:href="@{/package}">Packages</a></li>
                <li th:classappend="${currentpage == 'inventories'} ? 'active'"><a href="#" th:href="@{/inventory}">Inventories</a></li>
                <li th:classappend="${currentpage == 'locations'} ? 'active'"><a href="#" th:href="@{/location}">Locations</a></li>
                <li th:classappend="${currentpage == 'transactions'} ? 'active'"><a href="#" th:href="@{/transaction}">Transactions</a></li>
                <li th:classappend="${currentpage == 'reports'} ? 'active'"><a href="#" th:href="@{/report}">Reports</a></li>
            </ul>
            <th:block th:if="${#authentication.authenticated}">
			<form class="navbar-form navbar-right" th:action="@{/logout}" method="post">
				<button class="btn btn-link" type="submit">Logout</button>
			</form>
            <p class="navbar-text navbar-right">
            	Welcome <span sec:authentication="name" >Logged in User Name</span>
            </p>
            </th:block>
        </div>
    </div>
</nav>
</html>