<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorator="layout/layout" th:with="currentpage='inventories'">
<head>
    <title>Inventories</title>
</head>
<body>
<div layout:fragment="content">
	<h3 th:unless="${inventory.inventoryId == 0}">Edit Inventory</h3>
	<h3 th:if="${inventory.inventoryId == 0}">Create Inventory</h3>
    <div class="row">
	<form method="post" th:object="${inventory}">
        <div class="col-md-6">
            <div class="form-group" th:classappend="${#fields.hasErrors('name')}? has-error">
                <label class="control-label" for="name">Name</label>
                <input type="text" id="name" class="form-control" th:field="*{name}" />
				<span class="help-block" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">name error</span>
            </div>
        </div>
        <div class="col-md-6" th:classappend="${#fields.hasErrors('description')}? has-error">
            <div class="form-group">
                <label class="control-label" for="description">Description</label>
                <input type="text" class="form-control" th:field="*{description}" id="description" />
				<span class="help-block" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">description error</span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label" for="invType">Type</label>
                <select class="form-control" name="inventoryType" id="invType" th:field="*{inventoryType}">
                	<option th:each="invType : ${T(org.southwestohiogivecamp.druginventory.domain.InventoryType).values()}" 
                		th:text="${invType.name()}" th:value="${invType}">Value</option>
                </select>
            </div>
        </div>

		<div class="col-md-12">
        		<button type="submit" class="btn btn-primary">Save</button>
		</div>
	</form>
    </div>
</div>
</body>
</html>
