<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout" th:with="currentpage='inventories'">
<head>
    <title>Inventories</title>
</head>
<body>
<div layout:fragment="content">
	<h3>Inventories</h3>
    <div class="row">
        <div class="col-md-6 col-md-offset-6" style="text-align: right;">
            <a href="/inventory/create" class="btn btn-primary">Add New</a>
        </div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-12">
            <table class="table table-striped table-hover inventories loadable-data-table">
                <thead>
                <tr>
                    <td>Name</td>
                    <td>Description</td>
                    <td>Type</td>
                    <td>&nbsp;</td>
                </tr>
                </thead>
                <tbody>
                <tr class="inventory" th:each="inventory: ${inventories}">
                    <td class="inventory-name" th:text="${inventory.name}"></td>
                    <td class="inventory-description" th:text="${inventory.description}"></td>
                    <td class="inventory-type" th:text="${inventory.inventoryType}"></td>
                    <td class="edit-button-area"><a class="btn btn-default btn-xs" th:href="@{/inventory/{inventoryId}(inventoryId=${inventory.inventoryId})}">Edit</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
