<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout" th:with="currentpage='transactions'">
<head>
<title>Adjust Item</title>
</head>
<body>
	<section layout:fragment="content">
	<h4 th:text="${transactionDescription}"></h4>
	<dl th:object="${transactionItem}">
		<dt>Code</dt><dd th:text="*{code}"></dd>
		<dt>Package</dt><dd th:text="*{description}"></dd>
		<dt>Expiration Date</dt>
			<dd th:if="*{expirationDate == null}">No Expiration</dd>
			<dd th:unless="*{expirationDate == null}" th:text="*{#calendars.format(expirationDate, 'MM-yyyy')}"></dd>
		<dt>Source</dt><dd th:text="*{location}"></dd>
		<dt>Location</dt><dd th:text="*{destination}"></dd>
		<dt>Count</dt><dd th:text="*{count}"></dd>
	</dl>
	<form class="row" action="#" method="post" th:object="${verificationModel}"
		th:action="@{/transactionItem/{itemId}(itemId=${transactionItem.transactionItemId})}">

		<div class="alert alert-warning" role="alert" th:if="${#fields.hasGlobalErrors()}">
			<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
		</div>

        <div class="form-group" th:classappend="${#fields.hasErrors('location')}? has-error">
            <label class="control-label" for="location">Location</label>
            <input type="text" class="form-control" id="location" th:field="*{location}" autofocus="autofocus"/>
			<span class="help-block" th:if="${#fields.hasErrors('location')}" th:errors="*{location}">location error</span>
        </div>

        <div class="form-group" th:classappend="${#fields.hasErrors('count')}? has-error">
            <label class="control-label" for="count">Count</label>
            <input type="number" class="form-control" id="count" th:field="*{count}"/>
			<span class="help-block" th:if="${#fields.hasErrors('count')}" th:errors="*{count}">count error</span>
        </div>
		
		<div class="checkbox">
			<label><input type="checkbox" th:field="*{split}"/>Split</label>
			<span class="help-block">A split will move the specified count to the specified location, thus creating a new transaction item, instead of updating this item.</span>
		</div>
		
		<div>
            <button type="submit" name="action" value="adjust" class="btn btn-primary">Adjust</button>
            <button type="submit" name="action" value="cancel" class="btn btn-default">Cancel</button>
		</div>
	</form>
	</section>
	<script  layout:fragment="scripts">
		$(function() {
			var $loc = $("#location");
			var $count = $("#count");

			captureEnterAndJumpToField($loc, $count);
		});
	</script>
</body>
</html>