<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout" th:with="currentpage='transactions'">
<head>
<title>Verify Item</title>
</head>
<body>
	<section layout:fragment="content">
	<h4 th:text="${transactionDescription}"></h4>
	<dl th:object="${transactionItem}" class="row">
		<dt>Code</dt><dd th:text="*{code}"></dd>
		<dt>Package</dt><dd th:text="*{description}"></dd>
		<dt>Expiration Date</dt>
			<dd th:if="*{expirationDate == null}">No Expiration</dd>
			<dd th:unless="*{expirationDate == null}" th:text="*{#calendars.format(expirationDate, 'MM-yyyy')}"></dd>
		<dt>Source</dt><dd th:text="*{location}"></dd>
		<dt>Location</dt><dd th:text="*{destination}"></dd>
		<dt>Count</dt><dd th:text="*{count}"></dd>
	</dl>
	<form class="row" action="#" 
		th:action="@{/transactionItem/{itemId}/verify(itemId=${transactionItem.transactionItemId})}"
		method="post" th:object="${verificationModel}">

		<div class="alert alert-warning" role="alert" th:if="${#fields.hasGlobalErrors()}">
			<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
		</div>

        <div class="form-group" th:classappend="${#fields.hasErrors('packaging')}? has-error">
            <label class="control-label" for="packaging">Package</label>
            <input type="text" class="form-control" id="packaging" autofocus="autofocus" th:field="*{packaging}"/>
			<span class="help-block" th:if="${#fields.hasErrors('packaging')}" th:errors="*{packaging}">package error</span>
        </div>

        <div class="form-group" th:classappend="${#fields.hasErrors('location')}? has-error">
            <label class="control-label" for="location">Location</label>
            <input type="text" class="form-control" id="location" th:field="*{location}"/>
			<span class="help-block" th:if="${#fields.hasErrors('location')}" th:errors="*{location}">location error</span>
        </div>

        <div class="form-group" th:classappend="${#fields.hasErrors('count')}? has-error">
            <label class="control-label" for="count">Count</label>
            <input type="number" class="form-control" id="count" th:field="*{count}"/>
			<span class="help-block" th:if="${#fields.hasErrors('count')}" th:errors="*{count}">count error</span>
        </div>

        <div>
            <button type="submit" name="action" value="verify" class="btn btn-primary">Verify</button>
            <button type="submit" name="action" value="force" class="btn btn-default">Force</button>
            <button type="submit" name="action" value="cancel" class="btn btn-default">Cancel</button>
        </div>
	</form>
	</section>
	<script  layout:fragment="scripts">
		$(function() {
			var $pkg = $("#packaging");
			var $loc = $("#location");

			captureEnterAndJumpToField($pkg, $loc);
		});
	</script>
</body>
</html>