body {
    padding-top: 50px;
}

i.return {
	transform: scaleX(-1)
}

a.transaction {
	background-color: lightgoldenrodyellow;
	display: block;
	padding: 30px 0;
	margin-top: 15px;
}

a.transaction span {
	display: block;
}