<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout" th:with="currentpage='transactions'">
<head>
<title>Transactions</title>
</head>
<body>
	<section layout:fragment="content" class="row">
	<div class="col-md-2 col-md-offset-1 col-sm-6"><a class="transaction btn btn-lg" href="#" th:href="@{/transaction/inbound}">
		<i class="glyphicon glyphicon-log-in"></i><span>Inbound</span></a></div>
	<div class="col-md-2 col-sm-6"><a class="transaction btn btn-lg" href="#" th:href="@{/transaction/outbound}">
		<i class="glyphicon glyphicon-log-out"></i><span>Outbound</span></a></div>
	<div class="col-md-2 col-sm-6"><a class="transaction btn btn-lg" href="#" th:href="@{/transaction/transfer}">
		<i class="glyphicon glyphicon-random"></i><span>Transfer</span></a></div>
	<div class="col-md-2 col-sm-6"><a class="transaction btn btn-lg" href="#" th:href="@{/transaction/return}">
		<i class="return glyphicon glyphicon-log-in"></i><span>Return</span></a></div>
	<div class="col-md-2 col-sm-6"><a class="transaction btn btn-lg" href="#" th:href="@{/transaction/history}">
		<i class="glyphicon glyphicon-list"></i><span>History</span></a></div>
	</section>
</body>
</html>