<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout" th:with="currentpage='transactions'">
<head>
    <title>Transactions</title>
</head>
<body>
<section layout:fragment="content">
    <h3>Transactions</h3>
    <table id="transactionsTable" class="table table-striped">
        <thead>
        <tr>
            <th>Description</th>
            <th>Source</th>
            <th>Destination</th>
            <th>Date Created</th>
            <th>Date Last Updated</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="transaction : ${transactions}">
            <td th:text="${transaction.description}">Description</td>
            <td th:text="${transaction.source.name}">Source</td>
            <td th:text="${transaction.destination.name}">Destination</td>
            <td th:text="${transaction.created}">Created</td>
            <td th:text="${transaction.lastUpdated}">Last Updated</td>
            <td><a href="#" th:href="@{/transaction/{id}(id=${transaction.transactionId})}" class="btn btn-xs btn-default">View</a>
            		<a href="#" th:href="@{/transaction/{id}(id=${transaction.transactionId})}" class="btn btn-xs btn-default">Resume</a></td>
        </tr>
        </tbody>
    </table>
</section>
<script layout:fragment="scripts">
    $(function () {
        $("#transactionsTable").DataTable();
    })
</script>
</body>
</html>