<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout" th:with="currentpage='transactions'">
<head>
    <title>Transaction - <span th:text="${txType}">Outbound</span></title>
</head>
<body>
<section layout:fragment="content">
    <h2>Transaction - <span th:text="${transaction.transactionType}">Outbound</span></h2>
    <h3 th:text="${transaction.description}">Description</h3>
    <table id="transactionItemTable" class="table table-striped loadable-data-table">
        <thead>
        <tr>
            <th>Code</th>
            <th>Package</th>
            <th>Exp Date</th>
            <th>Source</th>
            <th>Target</th>
            <th>Status</th>
            <th>Count</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="transactionItem : ${transaction.transactionItems}" th:object="${transactionItem}">
            <td th:text="*{code}">UPC</td>
            <td th:text="*{description}">Package</td>
            <td th:if="*{expirationDate != null}" th:text="*{#calendars.format(expirationDate, 'MM-yyyy')}">Exp Date</td>
            <td th:unless="*{expirationDate != null}">No Expiration</td>
            <td th:text="*{location}">Source</td>
            <td th:text="*{destination}">Target</td>
            <td th:text="*{status}">Status</td>
            <td><span th:text="*{count}">Count</span><span th:if="${transaction.transactionType != T(org.southwestohiogivecamp.druginventory.domain.TransactionType).INBOUND and transactionItem.count > transactionItem.availableCount}" class="label label-warning"><i class="glyphicon glyphicon-alert" title="Not enough available for transaction"></i></span></td>
            <td><span th:if="${transactionItem.status != T(org.southwestohiogivecamp.druginventory.domain.TransactionItemStatus).VERIFIED}">
            		<a href="#"
                   th:href="@{/transactionItem/{transactionItemId}(transactionItemId=*{transactionItemId})}"
                   class="btn btn-xs btn-default">Adjust</a>
            		<a href="#"
                   th:href="@{/transactionItem/{transactionItemId}/verify(transactionItemId=*{transactionItemId})}"
                   class="btn btn-xs btn-default">Verify</a>
			   </span>
            </td>
        </tr>
        </tbody>
    </table>
    <form role="form" th:object="${packageDetails}"
    		action="#" th:action="@{/transaction/{transId}/addItem(transId = ${transaction.transactionId})}" method="post">
		<div class="alert alert-warning" role="alert" th:if="${#fields.hasGlobalErrors()}">
			<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
		</div>

        <div class="form-group" th:classappend="${#fields.hasErrors('packaging')}? has-error">
            <label class="control-label" for="package">Package</label>
            <input type="text" class="form-control" id="package" th:field="*{packaging}" autofocus="autofocus"/>
			<span class="help-block" th:if="${#fields.hasErrors('packaging')}" th:errors="*{packaging}">packaging error</span>
        </div>

        <div class="form-group" th:classappend="${#fields.hasErrors('source')}? has-error">
            <label class="control-label" for="source">Source</label>
            <input type="text" class="form-control" id="source" th:field="*{source}"/>
			<span class="help-block" th:if="${#fields.hasErrors('source')}" th:errors="*{source}">source error</span>
        </div>

        <div class="form-group" th:classappend="${#fields.hasErrors('location')}? has-error">
            <label class="control-label" for="location">Location</label>
            <input type="text" class="form-control" id="location" th:field="*{location}"/>
			<span class="help-block" th:if="${#fields.hasErrors('location')}" th:errors="*{location}">location error</span>
        </div>

        <div class="form-group" th:classappend="${#fields.hasErrors('expirationDate')}? has-error">
            <label class="control-label" for="expDate">Exp. Date</label>
            <input type="text" class="form-control" id="expDate" th:field="*{expirationDate}"/>
			<span class="help-block" th:if="${#fields.hasErrors('expirationDate')}" th:errors="*{expirationDate}">expirationDate error</span>
        </div>

        <div class="checkbox">
            <label>
				<input type="checkbox" id="expirationNull" th:field="*{expirationNull}" /> No Expiration Date
            </label>
        </div>

        <div class="form-group" th:classappend="${#fields.hasErrors('count')}? has-error">
            <label class="control-label" for="count">Count</label>
            <input type="number" class="form-control" id="count" th:field="*{count}"/>
			<span class="help-block" th:if="${#fields.hasErrors('count')}" th:errors="*{count}">count error</span>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-default">Add</button>
        </div>
    </form>
</section>
<script  layout:fragment="scripts">
	<th:block th:if="${transaction.transactionType == T(org.southwestohiogivecamp.druginventory.domain.TransactionType).INBOUND}">
	$(function() {
		var $pkg = $("#package");
		var $loc = $("#location");

		captureEnterAndJumpToField($pkg, $loc);
	});
	</th:block>
</script>
</body>
</html>