<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout" th:with="currentpage='transactions'">
<head>
<title>Transaction</title>
</head>
<body>
	<section layout:fragment="content">
	<h2>Transaction - <span th:text="${txType}">Inbound</span></h2>
		<form role="form" action="#" th:action="@{/transaction/create}" method="post">

			<div class="form-group">
				<label for="description">Description</label>
				<input type="text" class="form-control" id="description" name="description" />
			</div>

			<div class="form-group">
				<label for="sourceInvId">From</label>
				<select class="form-control" id="sourceInvId" name="sourceInvId" >
				  <option th:each="source : ${sources}" th:value="${source.inventoryId}" 
				  	th:text="${source.name}">1</option>
				</select>
			  </div>

			  <div class="form-group">
				<label for="targetInvId">To</label>
				<select class="form-control" id="targetInvId" name="targetInvId" >
				  <option th:each="destination : ${destinations}" th:value="${destination.inventoryId}" 
				  	th:text="${destination.name}">1</option>
				</select>
			  </div>

			<div class="form-group">
				<button type="submit" class="btn btn-default">Go</button>
			</div>
		</form>
	</section>
</body>
</html>