<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout" th:with="currentpage='reports'">
<head>
<title>Reports</title>
</head>
<body>
<section layout:fragment="content">
	<div class="row">
	<h3>Reports</h3>
	<form class="form" action="#" th:action="@{report/excel}" method="post">
		<div class="form-group">
			<label for="inventoryId">Internal Inventory</label>
			<select class="form-control" name="inventoryId" id="inventoryId">
				<option 
					th:each="inv : ${inventories}"
					th:value="${inv.inventoryId}"
					th:text="${inv.name}"
				>Option</option>
			</select>
		</div>
		<div class="form-group">
			<label for="startDate">Start</label>
			<div class="input-group date">
				<input type="text" class="form-control" id="startDate" name="startDate" />
				<div class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></div>
			</div>
		</div>
		<div class="form-group">
			<label for="endDate">End</label>
			<div class="input-group date">
				<input type="text" class="form-control" id="endDate" name="endDate" />
				<div class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></div>
			</div>
		</div>
		<button type="submit" class="btn btn-primary">Generate Report</button>
	</form>
	</div>
</section>
<script layout:fragment="scripts">
	$(function() {
		$(".input-group.date").datepicker({
		    todayBtn: "linked",
		    daysOfWeekHighlighted: "0,6",
		    todayHighlight: true,
		    autoclose: true
		});
	})
</script>

</body>
</html>