<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorator="layout/layout" th:with="currentpage='locations'">
<head>
    <title>Location</title>
</head>
<body>
<div layout:fragment="content">
	<h3 th:unless="${location.locationId == 0}">Edit Location</h3>
	<h3 th:if="${location.locationId == 0}">Create Location</h3>
	<div class="row">
		<form method="post" th:object="${location}">
            <div class="col-md-6">
				<div class="form-group" th:classappend="${#fields.hasErrors('name')}? has-error">
					<label class="control-label" for="name">Name</label>
					<input type="text" id="name" class="form-control" th:field="*{name}" />
					<span class="help-block" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">name error</span>
				</div>
            </div>
            <div class="col-md-6">
				<div class="form-group" th:classappend="${#fields.hasErrors('description')}? has-error">
					<label class="control-label" for="name">Description</label>
					<input type="text" id="description" class="form-control" th:field="*{description}" />
					<span class="help-block" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">desc error</span>
				</div>
            </div>
            <div class="col-md-6">
				<div class="form-group" th:classappend="${#fields.hasErrors('inventory')}? has-error">
					<label class="control-label" for="name">Inventory</label>
                    <select name="location.inventory" class="form-control" th:field="*{inventory}">
                        <option th:each="inventory : ${inventories}" th:value="${inventory.inventoryId}" th:text="${inventory.name}" ></option>
                    </select>
					<span class="help-block" th:if="${#fields.hasErrors('inventory')}" th:errors="*{inventory}">inventory error</span>
				</div>
            </div>

			<div class="col-md-6">
				<div class="form-group">
					<label class="control-label" for="active">Active</label>
					<input type="checkbox" id="active" value="true" th:field="*{active}" />
				</div>
			</div>

            <div class="col-md-12">
				<button type="submit" class="btn btn-primary">Save</button>
            </div>
		</form>
	</div>
</div>
</body>
</html>
