<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout" th:with="currentpage='locations'">
<head>
    <title>Locations</title>
</head>
<body>
<div layout:fragment="content">
	<h3>Locations</h3>
    <div class="row">
        <div class="col-md-6 col-md-offset-6" style="text-align: right;">
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Print Location Report <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a th:href="@{/location/BarcodeReport/INBOUND}" target="_blank">Inbound</a></li>
                    <li><a th:href="@{/location/BarcodeReport/OUTBOUND}" target="_blank">Outbound</a></li>
                    <li><a th:href="@{/location/BarcodeReport/INTERNAL}" target="_blank">Internal</a></li>
                </ul>
            </div>
            <a th:href="@{location/create}" class="btn btn-primary">Add New</a>
        </div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-12">
            <table class="table table-hover table-striped inventories loadable-data-table">
                <thead>
                <tr>
                    <td>Name</td>
                    <td>Description</td>
                    <td>Inventory</td>
                    <td>Active</td>
                    <td>&nbsp;</td>
                </tr>
                </thead>
                <tbody>
                <tr class="location" th:each="location: ${locations}">
                    <td class="location-name" th:text="${location.name}"></td>
                    <td class="location-description" th:text="${location.description}"></td>
                    <td class="location-inventory" th:text="${location.inventory.name}"></td>
                    <td class="location-active" th:text="${location.active}"></td>
                    <td class="edit-button-area"><a class="btn btn-default btn-xs" th:href="@{/location/{locationId}(locationId=${location.locationId})}">Edit</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
