<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout" th:with="currentpage='packages'">
<head>
<title>Package</title>
</head>
<body>
	<section layout:fragment="content">
		<h3 th:unless="${packaging.packagingId == 0}">Edit Packaging</h3>
		<h3 th:if="${packaging.packagingId == 0}">Create Packaging</h3>
		<div class="row">
		<form action="#"
			th:action="@{/package/{packageId}(packageId=${packaging.packagingId})}"
			th:object="${packaging}" method="post">

			<div class="form-group col-md-6" th:classappend="${#fields.hasErrors('description')}? has-error">
				<label class="control-label" for="description">Description</label>
				<input type="text" id="description" class="form-control" th:field="*{description}" autofocus="autofocus" />
				<span class="help-block" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">description error</span>
			</div>
			<div class="form-group col-md-6" th:classappend="${#fields.hasErrors('ndc')}? has-error">
				<label class="control-label" for="ndc">NDC</label>
				<input type="text" id="ndc" class="form-control" th:field="*{ndc}" />
				<span class="help-block" th:if="${#fields.hasErrors('ndc')}" th:errors="*{ndc}">ndc error</span>
			</div>
			<div class="form-group col-md-6" th:classappend="${#fields.hasErrors('upc')}? has-error">
				<label class="control-label" for="upc">UPC</label>
				<input type="text" id="upc" class="form-control" th:field="*{upc}" />
				<span class="help-block" th:if="${#fields.hasErrors('upc')}" th:errors="*{upc}">upc error</span>
			</div>
			<div class="form-group col-md-6" th:classappend="${#fields.hasErrors('manufacturer')}? has-error">
				<label class="control-label" for="manufacturer">Manufacturer</label>
				<input type="text" id="manufacturer" class="form-control" th:field="*{manufacturer}" />
				<span class="help-block" th:if="${#fields.hasErrors('manufacturer')}" th:errors="*{manufacturer}">error</span>
			</div>
			<div class="form-group col-md-6" th:classappend="${#fields.hasErrors('wholesaleAverageCost')}? has-error">
				<label class="control-label" for="wac">Wholesale Average Cost</label>
				<div class="input-group">
					<div class="input-group-addon">$</div>
					<input type="text" id="wac" class="form-control" th:field="*{wholesaleAverageCost}" />
				</div>
				<span class="help-block" th:if="${#fields.hasErrors('wholesaleAverageCost')}" th:errors="*{wholesaleAverageCost}">error</span>
			</div>

			<div class="form-group col-md-12" th:classappend="${#fields.hasErrors('product')}? has-error">
				<label class="control-label" for="product">Product</label>
				<select id="product" class="form-control" th:field="*{product}">
					<option th:each="p : ${products}" th:value="${p.productId}"
						th:text="|${p.name} ${p.activeUnitStrength?:''}|">Product</option>
				</select>
				<span class="help-block" th:if="${#fields.hasErrors('product')}" th:errors="*{product}">product error</span>
			</div>
			<div class="col-md-12">
				<button type="submit" class="btn btn-primary">Save</button>
			</div>
		</form>
		</div>
	</section>
	<script layout:fragment="scripts">
		$(function() {
			var $ndc = $("#ndc");
			var $upc = $("#upc");
			var $manufacturer = $("#manufacturer");
			captureEnterAndJumpToField($ndc, $upc);
			captureEnterAndJumpToField($upc, $manufacturer);
		});
	</script>
</body>
</html>