<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout" th:with="currentpage='packages'">
<head>
<title>Packaging</title>
</head>
<body>
	<section layout:fragment="content">
		<h3>Packaging</h3>
	<section th:if="${product != null}" >
		<strong>Product Filter:</strong>
		<span th:text="|${product.name} ${product.activeUnitStrength?:''}|">Amoxicillin 125mg/5ml</span>
		<a th:href="@{/package/clear}" type="button" class="btn"><span>&times;</span></a>
	</section>
    <div class="row">
        <div class="col-md-6 col-md-offset-6" style="text-align: right;">
            <a th:unless="${product != null}" th:href="@{/package/create}" class="btn btn-primary">Add New</a>
            <a th:if="${product != null}" th:href="@{/package/create(productIdFilter=${product.productId})}" class="btn btn-primary">Add New</a>
        </div>
    </div>
    <div class="row" style="margin-top: 10px;">
		<table id="packagingTable" class="table table-striped">
			<thead>
				<tr>
					<th>Product</th>
					<th>Package</th>
					<th>NDC</th>
					<th>UPC</th>
					<th>Manufacturer</th>
					<th>Wholesale Average Cost</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="packaging : ${packagings}">
				<td th:if="${packaging.product != null}" th:text="|${packaging.product.name} ${packaging.product.activeUnitStrength?:''}|">Amoxicillin 125mg/5ml</td>
				<td th:unless="${packaging.product != null}">Pending...</td>
				<td th:text="${packaging.description}">150ml</td>
				<td th:text="${packaging.ndc}">67253-0146</td>
				<td th:text="${packaging.upc}">123456789012</td>
				<td th:text="${packaging.manufacturer}">Manufacturer</td>
				<td th:text="${packaging.wholesaleAverageCost}">Wholesale Average Cost</td>
				<td><a href="#" th:href="@{/package/{packageId}(packageId=${packaging.packagingId})}" class="btn btn-xs btn-default">Edit</a>
				    <a href="#" th:href="@{/package/{packageId}/copy(packageId=${packaging.packagingId})}" class="btn btn-xs btn-default">Copy</a>
				    <a href="#" th:if="${packaging.product == null}" th:href="@{/product/create(packagingId=${packaging.packagingId})}" class="btn btn-xs btn-default">Create Product</a></td>
			</tr>
			</tbody>
		</table>
		</div>
	</section>
	<script layout:fragment="scripts">
		$(function() {
			$("#packagingTable").DataTable();
		})
	</script>

</body>
</html>